
html {
    background-image: url('/resources/bg.jpg');
    
}


body {

    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(97, 91, 91, 0.75 );
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    line-height: 1.7;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* grid setup */

#main-grid-container {
    border-radius: 15px;
    width: 80%;
    max-width: 850px;
    min-width: 600px;
    height: 80%;
    display: grid;
    grid-gap: 2vh 2vh;
    grid-template-columns: 1.5fr 2fr 1.5fr 1.5fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-auto-rows: 0;
    grid-template-areas: 
    "head head head head"
    "menu main main right"
    "menu main main right"
    "menu foot foot foot";
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
    padding: 10px;

}

#header {
    grid-area: head;
    background-color: rgb(253, 251, 251);
    border-radius: 15px;
}

#menu {
    grid-area: menu;
    justify-items: center;
    border-radius: 15px;
}

#main {
    grid-area: main;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
    display: grid;
    background-color: rgb(233, 233, 233);
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;

}

#right {
    grid-area: right;
    display: grid;
    background-color: rgb(102, 102, 153);
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

#footer {
    grid-area: foot;
    color: white;
    border-radius: 15px;
    padding: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: rgb(129, 129, 129);
    cursor: pointer;
}


/* individual grid area setup */

/* head */

#header h1 {
    font-weight: lighter;
    margin-left: 10px;
    color: grey;
}

/* menu */

#menu-list {
    padding: 0;
}

.menu-item {
    list-style: none;
    display: flex;
    justify-content: center;
    height: 30px;
    margin-bottom: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 5px 0px;

}

.menu-item:hover {
    transform: translateY(-2px);
    transition: 0.2s ease-in;
    background-color: rgb(230, 230, 230);
}

.menu-item:active {
    transform: none;
    transition: 0.1s ease-out;
}

#search {
    display: flex;
    height: 35px;
}

#search-bar {
    width: 100%;
}


/* main */ 

.home {
    list-style: none;
    display: flex;
    justify-content: center;
    height: 30px;
    margin-bottom: 10px;
    background-color: rgb(89, 89, 114);
    border-radius: 4px;
    width: 80%;
    color: white;
}

.home:hover {
    color: black;
    background-color: white;
    transition: 0.2s ease-out;
    box-shadow: rgba(100, 100, 111, 0.7) 0px -7px -10px 0px;
}

#categories {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article {
    margin: 25px;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}

.article:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
    transform: translateY(-5px);
    transition: 0.8s ease-in-out;
}

#article-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#article-full {
    flex-direction: column;
    border-radius: 15px;
    padding: 25px;
    background-color: white;
    z-index: 2;
    position: absolute;
    transition: 0.2s ease-in;
    width: 75%;
    max-width: 850px;
    max-height: 600px;
    height: 75%;
    overflow-y: scroll;
    border: 1px black solid;
    scrollbar-width: none;
    display: none;
}


#close-full {
    position: relative;
    width: 25px;
    height: 25px;
    background-color: rgb(173, 48, 48);
    padding: 10px;
}

#close-full:hover {
    transition: 0.2s ease-in-out;
    width: 50px;
}

#clear {
    height: 30px;
    border-radius: 4px;
    width: 100%;
    box-shadow: none;
    border: none;
    background-color: rgb(102, 102, 153);
    color: white;
}

#clear:hover {
    background-color: white;
    color: black;
    transition: 0.2s ease-out;
}

.description {
    color: white;
    background-color: rgb(102, 102, 153);
    border-radius: 4px;
    padding: 5px;
    font-style: italic;
}

#desc-full {
    margin: 0;
}

#desc-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#desc-img {
    max-width: 300px;
    max-height: 200px;
    height: auto;
    margin: 10px;
}
/* right */

.card {
    margin: 10px;
    width: auto;
    height: 100px;
    background-color: white;
    position: relative;
    border-radius: 15px;
}

.right-btn {
    height: 35px;
    border: none; 
    background-color: rgb(63, 63, 235);
    border-radius: 15px;
    width: 80%;
}

/* footer */

#weather-icon {
    height: 50px;
    width: 50px;
}

#weather-type {
    margin: 0;
    font-size: 18px;
}

#weather-desc, #temperature {
    margin: 0;
}

.weather-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* weather */

#hourly-list {
    padding: 0;
}
.hour-element {
    margin: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(184, 184, 184);
    padding-right: 10px;
}

.hour-element p {
    width: 25%;
    text-align: center;
}

.hour-element img {
    width: 25%;
}

#climate {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#location {
    margin: 0;
    padding: 0;
    font-size: 18px;   
    font-weight: lighter;
}

#temperature {
    font-size: 18px;
}

/* effects */



/* screen sizes */

@media screen and (max-width: 628px) {

    #right {
        display: none;
    }
    #main-grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.75fr 1fr 1fr 1.25fr;
        grid-auto-columns: 0;
        grid-auto-rows: 0;
        grid-template-areas: 
        "head"
        "foot"
        "main"
        "main"
        "menu";
        justify-content: center;
        padding: 15px;
        min-width: unset;
        grid-gap: 15px;
        height: 90%;
        width: 90%;
    }

    #desc-wrapper {
        display: flex;
        flex-direction: column;
    }

    #search {
        grid-area: search;
    }

    #home {
        grid-area: home;
    }

    #about {
        grid-area: about;
    }

    #latest {
        grid-area: latest;
    }

    #clear {
        grid-area: clear;
    }

    #menu-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "home latest"
            "about clear"
            "search search"

    }

    
}